@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <p><input type="submit" class="btn btn-secondary btn-sm" value="Log out" /></p>
  }
}
else
{
  <p> @Html.ActionLink("Register", "Register", null, null, new { @class = "btn btn-success btn-sm" }) </p>
  <p> @Html.ActionLink("Log in", "Login", null, null, new { @class = "btn btn-info btn-sm" }) </p>
}
<p>@Html.ActionLink("Homepage", "Index", "Home", null, new { @class = "btn btn-info btn-sm"})</p>