@{
  Layout = "_Layout";
}
@model TreatFlavors.Models.Treat

<br>
<h4>Add a new treat</h4>
@using (Html.BeginForm())
{
  @Html.Label("Treat Name")
  @Html.TextBoxFor(model => model.TreatName)

  <input type="submit" value="Add new Treat" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-info btn-sm"})</p>