@{
  Layout = "_Layout";
}
@using TreatFlavors.Models;
@model IEnumerable<TreatFlavors.Models.Treat>

<br>
<h2>Treats:</h2>

@if (@Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li class="linkHelper">- &nbsp;@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId }, new {@class="linkHelper"})</li>
    }
  </ul>
}
else
{
  <h3>There are no treats in this list!</h3>
}

<br>
@if (User.Identity.Name == "admin@pierre.local")
{
  <p>@Html.ActionLink("Add new Treat", "Create", null, null, new {@class="btn btn-success btn-sm"})</p>
}
<p>@Html.ActionLink("Search by Treat", "Search", null, null, new {@class="btn btn-info btn-sm"})</p>
<p>@Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-info btn-sm"})</p>