@using TreatFlavors.Models;
@model List<TreatFlavors.Models.Treat>;

@{
  Layout = "_Layout";
}

@using (Html.BeginForm())
{
  @Html.Label("Treat Name")
  @Html.TextBox("treatName")

  <input type="submit" value="Search" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-info btn-sm"})</p>
