@{
    Layout = "_Layout";
}

<h1>Welcome to the {NAME TO BE INSERTED LATER BECAUSE I LACK CREATIVITY AT THE MOMENT} Library!</h1>
<p>@Html.ActionLink("See All Treats", "Index", "Treats", null, new {@class="btn btn-info btn-sm"})</p>
<p>@Html.ActionLink("See All Flavors", "Index", "Flavors", null, new {@class="btn btn-info btn-sm"})</p>
<p>@Html.ActionLink("Create an account", "Index", "Account", null, new {@class="btn btn-success btn-sm"})</p>
