@{
    Layout = "_Layout";
}

<h2 class="jumbotron">Welcome to Pierre's Sweet & Savory Treats!</h2>
<p>@Html.ActionLink("See All Treats", "Index", "Treats", null, new {@class="btn btn-info btn-sm"})</p>
<p>@Html.ActionLink("See All Flavors", "Index", "Flavors", null, new {@class="btn btn-info btn-sm"})</p>
<p>@Html.ActionLink("Create an account", "Index", "Account", null, new {@class="btn btn-success btn-sm"})</p>
