@{
  Layout = "_Layout";
}
@model TreatFlavors.Models.Flavor

<br>
<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorName)
  @Html.TextBoxFor(model => model.FlavorName)

  <input type="submit" value="Add new Flavor" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-info btn-sm"})</p>