@{
  Layout = "_Layout";
}

@model TreatFlavors.Models.Flavor

<h2>Are you sure you want to delete this flavor?</h2>

@Html.DisplayName("Flavor"): @Html.DisplayFor(model => model.FlavorName)
<br><br>
@using (Html.BeginForm())
{
  <p><input type="submit" value="Delete" class="btn btn-danger btn-sm" /></p>
}

<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.FlavorId }, new {@class="btn btn-info btn-sm"})</p>