@* <footer class="border-top footer text-muted">
  
    &copy; 2020 - Pierre's Bakery <a asp-area="" asp-controller="Home"></a>
  

  @if (User.Identity.IsAuthenticated)
  {
    <h6>Logged in as @User.Identity.Name</h6>
  }
  else
  {
    <p>Login to see more details</p>
  }

</footer> *@
